<div class="user-login">
  <main>
<h4>Register</h4>
  <section>
    <%= form_for @user do |form| %>
      <div >
        <%= form.label :username %>
        <%= form.text_field :username %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
      <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
      </div>
      <%= form.submit 'Create Account' %>
    <% end %>
  </section>
  </main>
</div>